* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* = 10px */
}

body {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}
